<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="d-flex justify-content-end" (click)="drawer.close()">
      <mat-icon>close</mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        href="#"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        >Home</a
      >
      <a
        mat-list-item
        href="#"
        [routerLink]="['/education']"
        routerLinkActive="router-link-active"
        (click)="drawer.close()"
        >Education</a
      >
      <a
        mat-list-item
        href="#"
        [routerLink]="['/work']"
        routerLinkActive="router-link-active"
        (click)="drawer.close()"
        >Experience</a
      >
      <a
        mat-list-item
        href="#"
        [routerLink]="['/reaserch']"
        routerLinkActive="router-link-active"
        (click)="drawer.close()"
        >Reaserch</a
      >
      <a
        mat-list-item
        href="#"
        [routerLink]="['/gallery']"
        routerLinkActive="router-link-active"
        (click)="drawer.close()"
        >Gallery</a
      >
      <a
        mat-list-item
        href="#"
        [routerLink]="['/contact']"
        routerLinkActive="router-link-active"
        (click)="drawer.close()"
        >Contact</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-flex justify-content-between">
      <span [routerLink]="['/']" routerLinkActive="router-link-active"
        >Abdul Matin
      </span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
